{% set ruby = salt['grains.filter_by']({
    'Debian': {
        'package': 'ruby1.9.3',
        'dev': 'ruby1.9.3',
        'gem': 'ruby1.9.3',
    },
    'RedHat': {
        'package': 'ruby',
        'dev': 'ruby-devel',
        'gem': 'rubygems',
    }
}, merge=salt['pillar.get']('ruby:lookup')) %}