{% set postgresql = salt['grains.filter_by']({
    'Debian': {
        'package_server': 'postgresql',
        'service': 'postgresql',
        'data_directory': '/etc/postgresql/current'
    },
    'RedHat': {
        'package_server': 'postgresql-server',
        'package_client': 'postgresql',
        'service': 'postgresql'
    },
}, merge=salt['pillar.get']('postgresql:lookup')) %}
