{% set build_tools = salt['grains.filter_by']({
    'Debian': {
        'packages': ['build-essential']
    },
    'RedHat': {
        'packages': [
        'autoconf',
        'automake',
        'binutils',
        'bison',
        'flex',
        'gcc',
        'gcc-c++',
        'gettext',
        'libtool',
        'make',
        'patch',
        'pkgconfig',
        'redhat-rpm-config',
        'rpm-build']
    },
}, merge=salt['pillar.get']('build_tools:lookup')) %}