{% from "mysql/map.jinja" import mysql with context %}

[client]
port            = {{ port | d(3306) }} 
socket          = {{ mysql.unix_socket }}


[mysqld_safe]
socket          = {{ mysql.unix_socket }}
nice            = 0

[mysqld]
user            = mysql
pid-file        = /tmp/mysqld.pid
socket          = {{ mysql.unix_socket }}
port            = 3306
basedir         = /usr
datadir         = /var/lib/mysql
tmpdir          = /tmp
skip-external-locking

bind-address            = {{ listen_address | d('127.0.0.1')}}


key_buffer              = 16M
max_allowed_packet      = 16M
thread_stack            = 192K
thread_cache_size       = 8
myisam-recover         = BACKUP

query_cache_limit       = 1M
query_cache_size        = 16M

log_error = /var/log/mysql/error.log

expire_logs_days        = 10
max_binlog_size         = 100M


[mysqldump]
quick
quote-names
max_allowed_packet      = 16M

[mysql]

[isamchk]
key_buffer              = 16M

!includedir /etc/mysql/conf.d/