{% set varnish = salt['grains.filter_by']({
    'Debian': {
        'package': 'varnish',
        'service': 'varnish',
        'config': '/etc/default/varnish',
        'vcl': '/etc/varnish/default.vcl',
        'lib': 'libvarnishapi-dev',
    },
    'RedHat': {
        'package': 'varnish',
        'service': 'varnish',
        'config': '/etc/sysconfig/varnish',
        'vcl': '/etc/varnish/default.vcl',
    }
}, merge=salt['pillar.get']('varnish:lookup')) %}