{% set python = salt['grains.filter_by']({
    'Debian': {
        'package': 'python',
        'pip': 'python-pip',
        'dev': 'python-dev',
        'libevent_dev': 'libevent-dev',
    },
    'RedHat': {
        'package': 'python',
        'pip': 'python-pip',
        'dev': 'python-devel',
        'libevent_dev': 'libevent-devel',
    }
}, merge=salt['pillar.get']('python:lookup')) %}