{% set mysql = salt['grains.filter_by']({
    'Debian': {
        'package_server': 'mysql-server',
        'package_client': 'mysql-client',
        'package_dev': 'libmysqlclient-dev',
        'service': 'mysql',
        'my_cnf_location': '/etc/mysql/my.cnf',
        'unix_socket': '/var/run/mysqld/mysqld.sock',
        'conf_dir': '/etc/mysql/conf.d/',
        'python': ['python-mysqldb']
    },
    'RedHat': {
        'package_server': 'mysql-server',
        'package_client': 'mysql',
        'package_dev': 'mysql-devel',
        'service': 'mysqld',
        'my_cnf_location': '/etc/my.cnf',
        'unix_socket': '/var/lib/mysql/mysql.sock',
        'conf_dir': '/etc/mysql/conf.d/',
        'python': ['MySQL-python']
    },
    'Gentoo': {
        'server': 'dev-db/mysql',
        'mysql-client': 'dev-db/mysql',
        'service': 'mysql',
        'python': ['dev-python/mysql-python']
    },
}, merge=salt['pillar.get']('mysql:lookup')) %}
