{% set apache = salt['grains.filter_by']({
    'Debian': {
        'package': 'apache2',
        'service': 'apache2',
        'mpm-worker': 'apache2-mpm-worker',
        'modules': {
            'apparmor': 'libapache2-mod-apparmor',
            'auth-kerb': 'libapache2-mod-auth-kerb',
            'auth-mysql': 'libapache2-mod-auth-mysql',
            'auth-pgsql': 'libapache2-mod-auth-pgsql',
            'auth-plain': 'libapache2-mod-auth-plain',
            'macro': 'libapache2-mod-macro',
            'perl2': 'libapache2-mod-perl2',
            'perl2-dev': 'libapache2-mod-perl2-dev',
            'perl2-doc': 'libapache2-mod-perl2-doc',
            'php5': 'libapache2-mod-php5',
            'python': 'libapache2-mod-python',
            'python-doc': 'libapache2-mod-python-doc',
            'wsgi': 'libapache2-mod-wsgi',
            'fastcgi': 'libapache2-mod-fastcgi',
            'apreq2': 'libapache2-mod-apreq2',
            'auth-cas': 'libapache2-mod-auth-cas',
            'auth-ntlm-winbind': 'libapache2-mod-auth-ntlm-winbind',
            'auth-openid': 'libapache2-mod-auth-openid',
            'auth-pam': 'libapache2-mod-auth-pam',
            'auth-radius': 'libapache2-mod-auth-radius',
            'auth-sys-group': 'libapache2-mod-auth-sys-group',
            'authn-sasl': 'libapache2-mod-authn-sasl',
            'authn-webid': 'libapache2-mod-authn-webid',
            'authn-yubikey': 'libapache2-mod-authn-yubikey',
            'authnz-external': 'libapache2-mod-authnz-external',
            'authz-unixgroup': 'libapache2-mod-authz-unixgroup',
            'axis2c': 'libapache2-mod-axis2c',
            'bw': 'libapache2-mod-bw',
            'defensible': 'libapache2-mod-defensible',
            'dnssd': 'libapache2-mod-dnssd',
            'encoding': 'libapache2-mod-encoding',
            'evasive': 'libapache2-mod-evasive',
            'fcgid': 'libapache2-mod-fcgid',
            'fcgid-dbg': 'libapache2-mod-fcgid-dbg',
            'geoip': 'libapache2-mod-geoip',
            'gnutls': 'libapache2-mod-gnutls',
            'jk': 'libapache2-mod-jk',
            'layout': 'libapache2-mod-layout',
            'ldap-userdir': 'libapache2-mod-ldap-userdir',
            'ldap-userdir-dbg': 'libapache2-mod-ldap-userdir-dbg',
            'lisp': 'libapache2-mod-lisp',
            'log-sql': 'libapache2-mod-log-sql',
            'log-sql-dbi': 'libapache2-mod-log-sql-dbi',
            'log-sql-mysql': 'libapache2-mod-log-sql-mysql',
            'log-sql-ssl': 'libapache2-mod-log-sql-ssl',
            'mime-xattr': 'libapache2-mod-mime-xattr',
            'mono': 'libapache2-mod-mono',
            'musicindex': 'libapache2-mod-musicindex',
            'neko': 'libapache2-mod-neko',
            'nss': 'libapache2-mod-nss',
            'ocamlnet': 'libapache2-mod-ocamlnet',
            'parser3': 'libapache2-mod-parser3',
            'passenger': 'libapache2-mod-passenger',
            'php5filter': 'libapache2-mod-php5filter',
            'proxy-html': 'libapache2-mod-proxy-html',
            'qos': 'libapache2-mod-qos',
            'random': 'libapache2-mod-random',
            'removeip': 'libapache2-mod-removeip',
            'rivet': 'libapache2-mod-rivet',
            'rivet-doc': 'libapache2-mod-rivet-doc',
            'rpaf': 'libapache2-mod-rpaf',
            'ruby': 'libapache2-mod-ruby',
            'ruwsgi': 'libapache2-mod-ruwsgi',
            'ruwsgi-dbg': 'libapache2-mod-ruwsgi-dbg',
            'scgi': 'libapache2-mod-scgi',
            'shib2': 'libapache2-mod-shib2',
            'spamhaus': 'libapache2-mod-spamhaus',
            'speedycgi': 'libapache2-mod-speedycgi',
            'suphp': 'libapache2-mod-suphp',
            'upload-progress': 'libapache2-mod-upload-progress',
            'uwsgi': 'libapache2-mod-uwsgi',
            'uwsgi-dbg': 'libapache2-mod-uwsgi-dbg',
            'vhost-hash-alias': 'libapache2-mod-vhost-hash-alias',
            'vhost-ldap': 'libapache2-mod-vhost-ldap',
            'wsgi-py3': 'libapache2-mod-wsgi-py3',
            'xsendfile': 'libapache2-mod-xsendfile',
        },
    },
    'RedHat': {
        'package': 'httpd',
        'service': 'httpd',
        'mpm-worker': 'apache2-mpm-worker',
        'modules': {
            'fastcgi': 'mod_fastcgi',
        },
    },
}, merge=salt['pillar.get']('apache:lookup')) %}
