{% set php = salt['grains.filter_by']({
    'Debian': {
        'package': 'php5',
        'package_cli': 'php5-cli',
        'package_pear': 'php-pear',
        'package_fpm': 'php5-fpm',
        'service_fpm': 'php5-fpm',
        'config': '/etc/php5/apache2/php.ini',
        'extensions': {
            'mysql': 'php5-mysql',
            'pdo': 'php5-mysql', 
            'gd': 'php5-gd',
            'common': 'php5-common',
            'xmlrpc': 'php5-xmlrpc',
            'mcrypt': 'php5-mcrypt',
            'curl': 'php5-curl',
            'xml': 'php-xml',
            'odbc': 'php5-odbc',
            'soap': 'php5-soap',
            'mbstring': 'php5-mbstring',
            'bcmath': 'php5-bcmath',
            'apc': 'php-apc',
            'apc-conf': '/etc/php5/fpm/conf.d/apc.settings.ini',
            'pecl-memcache': 'memcache',
            'pcre': 'libpcre3-dev',
            'zf_profile': '/home/vagrant/.zf.ini',
        }
    },
    'RedHat': {
        'package': 'php5',
        'package_cli': 'php-cli',
        'package_pear': 'php-pear',

        'config': '/etc/php.ini',
        'extensions': {
            'mysql': 'php-mysql',
            'pdo': 'php-pdo',
            'gd': 'php-gd',
            'common': 'php-common',
            'xmlrpc': 'php-xmlrpc',
            'mcrypt': 'php-mcrypt',
            'curl': 'php-common',
            'xml': 'php-xml',
            'odbc': 'php5-odbc',
            'soap': 'php5-soap',
            'mbstring': 'php5-mbstring',
            'bcmath': 'php5-bcmath',
            'apc': 'php-apc',
            'apc-conf': '/etc/php5/fpm/conf.d/apc.settings.ini',
            'pecl-memcache': 'memcache',
            'pcre': 'pcre-devel',
            'zf_profile': '/home/vagrant/.zf.ini',
        }
    },
    'Gentoo': {
        'package': 'php5',
        'config': '/etc/php.ini',
    },
}, merge=salt['pillar.get']('php:lookup')) %}
