{% set php = salt['grains.filter_by']({
    'Debian': {
        'package': 'php5',
        'config': '/etc/php.ini',
        'extensions': {
            'mysql': 'php5-mysqlnd',
            'gd': 'php5-gd',
            'common': 'php5-common',
            'xml': 'php5-xml',
            'xmlrpc': 'php5-xmlrpc'
        }
    },
    'RedHat': {
        'package': 'php5',
        'config': '/etc/php.ini',
        'extensions': {
            'mysql': 'php-mysql',
            'gd': 'php-gd',
            'common': 'php-common',
            'xml': 'php-xml',
            'xmlrpc': 'php-xmlrpc'
        }
    },
    'Gentoo': {
        'package': 'php5',
        'config': '/etc/php.ini',
    },
}, merge=salt['pillar.get']('php:lookup')) %}
