{% set redis = salt['grains.filter_by']({
    'Debian': {
        'package': 'redis-server',
        'service': 'redis-server',
        'config': '/etc/redis/redis.conf'
    },
    'RedHat': {
        'package': 'redis',
        'service': 'redis',
        'config': '/etc/redis.conf'
    }
}, merge=salt['pillar.get']('redis:lookup')) %}